body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt, table, td, tr, textarea, form, p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: microsoft yahei;
    color: #484848;
    cursor:default;
}

ul, ol, li {
    list-style: none;
}

img {
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearBoth {
    clear: both;
}

a {
    text-decoration: none;
    color: #484848;
}
a:hover{
    text-decoration: underline;
    cursor:pointer;
}
#top {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    background: #f1f1f1;

}

#top #topMain {
    width: 1200px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    position: relative;

}

#top #topMain h3 {
    float: left;
    width: 78px;
    height: 24px;
    line-height: 24px;
    background: #eee;
}

#top #topMain h3 a {
    display: inline-block;
    padding-left: 16px;
    font-size:12px;
}
#top #topMain h3 a:hover{
    text-decoration:underline;
    color:#333;
}
#top #topMain h3 .phone{
    background:url("../img/topbar.png") no-repeat 0 7px;
}
#top #topMain h3 .contact{
    background:url("../img/topbar.png") no-repeat 0 -38px;
}
#top #topMain h3 .phone:hover{
    background:url("../img/topbar.png") no-repeat 0 -13px;
}
#top #topMain h3 .contact:hover{
    background:url("../img/topbar.png") no-repeat 0 -58px;
}
#top #topMain .right{
    width:507px;
    height:24px;
    line-height:24px;
}
#top #topMain .right .span_user{
    float:left;
    width:215px;
    height:24px;line-height:24px;
}
#top #topMain .right a{
    color:#666;
}
#top #topMain .right b{
    font-weight:normal;
    margin:0 8px;
}
#top #topMain .right .sp_welcome{
    width:136px;
    height:24px;
    line-height:24px;
    color:#333;
    margin-left:8px;
    display:inline-block;
}
#top #topMain .right .aside{
    float:right;
    width:280px;
    height:24px;
    line-height:24px;
}
#top #topMain .right .aside li{
    float:left;
    position:relative;
}
#top #topMain .right .aside li a{
    display:inline-block;
    width:48px;
    height:24px;
    line-height:24px;
    padding:0 3px 0 9px;
}
#top #topMain .right .aside li a:hover{
    text-decoration:underline;
}
#top #topMain .right .aside li .pad{
    padding:0 23px 0 9px;
    position:relative;


}
#top #topMain .right .aside li .pad s{
    position:absolute;
    top:10px;
    z-index:2;
    right:5px;
    width:6px;
    height:6px;
    display:inline-block;
    background:url("../img/sprite.png")  0 -25px;
}
#top #topMain .right .aside li .pad:hover{
    text-decoration:none;
}
#top #topMain .right .aside li .pad:hover s{
    background:url("../img/sprite.png")  -10px -25px;
}
#top #topMain .right .aside li .inner{
    width:148px;
    height:101px;
    background:#fff;
    box-shadow:2px 2px 5px rgba(0,0,0,0.2);
    position:absolute;
    top:24px;
    right:0px;
    display:none;
}
#topImg,#header{
    width:1200px;
    margin:0 auto;
}
#topImg{
    height:60px;
    position:relative;
}
#topImg button{
    position:absolute;
    top:5px;
    right:3px;
    width:20px;
    height:20px;
    border:none;
    border-radius:50%;
    background:#eee url("../img/X (3).png") center;
    z-index:5;
}
#header{
    height:86px;
    position:relative;

}
#header h3{
    position:absolute;
    width:318px;
    height:65px;
    float:left;
    top:11px;
    left:4px;
}
#header #bannerAd{
    position:absolute;
    top:0;
    right:0;
}
#search{
    width:439px;
    position:absolute;
    top:18px;
    left:368px;
}
#searchWord{
    width:337px;
    float:left;
    border:2px solid #f60;
    height:30px;
    line-height:30px;
    text-align:left;
}
#search input{
    width:330px;
    height:27px;
    border:0;
    background:none;
    line-height:27px;
    text-indent:6px;
    color:#b7b7b7;
    outline:none;
}
#header .btn{
    float:left;
    width:98px;
    height:34px;
    background:#f60;
    color:#fff;
    border-radius:0 3px 3px 0;
    line-height:34px;
    text-align:center;
    font:bolder 14px/34px simsun;
}
#header .hot{
    line-height:29px;
    margin-top:4px;
    overflow:hidden;
    float:left;
}
#header .hot a{
    margin:0 6px;
    color:#767676;
}
#header .hot b{
    margin:0 5px;
    color:#767676;
    display:inline-block;
}
#nav{
    width:100%;
    height:40px;
    background:#10286C;

}
#nav_cont{
    width:1200px;
    height:40px;
    line-height:40px;
    margin:0 auto;
    background:#10286C;
    position:relative;
}
#nav_cont h3{
    float:left;
    width:180px;
    height:40px;
    line-height:40px;
    position:relative;
    text-indent:10px;
    background: #F60;
}
#nav_cont h3 a{
    height:40px;
    display:inline-block;
    color:#fff;
    font:14px/42px microsoft yahei;
}
#nav_cont h3 s{
    width:7px;
    height:6px;
    background: url("../img/sprite.png") no-repeat 0 -25px;
    display:inline-block;
    position:absolute;
    top:18px;
    right:35px;
}
#nav .Nav{
    float:left;
}
#nav .Nav li{
    float:left;
    transition:all 0.6s;
    -moz-transition:all 0.6s;
    -webkit-transition:all 0.6s;
}
#nav .Nav li:hover{
    background:dodgerblue;
}
#nav .Nav .marLeft{
    margin-left:5px;
}
#nav .Nav li a{
    display:inline-block;
    padding:0 20px;
    height:40px;
    font:14px/40px microsoft yahei;
    color:#fff;
    text-decoration:none;
}
#shopCart{
    float:right;
    width:230px;
    height:40px;

    position:relative;
}
#shopCart .borderR{
    background:#F60 url("../img/bg.png") no-repeat right 8px;
}
#shopCart .borderR strong{
    color:orange;
    font-weight:bold;
    font-size:14px;

}
#shopCart dl{
    background:#F60;
    float:left;
    height:36px;
    border:2px solid #F60;


}
#shopCart dl dt{
    padding:0 13px 0 24px;
}

#shopCart dl dt a{
    height:22px;
    line-height:22px;
    color:#fff;
    display:inline-block;
    font-family:"宋体";
    text-decoration:none;
}
#shopCart dl dt a s{
    width:10px;
    height:10px;
    display:inline-block;
}
#shopCart dl:hover{
    background:#fff;

}
#shopCart dl:hover a{
    color:#333;
}
#shopCart dl dd{
    width:225px;
    height:87px;
    border:2px solid #ff6600;
    border-top:none;
    position:absolute;
    top:38px;
    left:0;
    background:#fff;
    display:none;
}
#footer{
    width:1200px;
    margin:0 auto;
    height:510px;
}
#footer .footImg{
    width:350px;
    height:71px;
    margin-top:5px;
    float:left;
}
#footer .footImg h3{
    margin-bottom:15px;
}
#footer .footImg p{
    margin-left:5px;
}
#footer .footImg .ico{
    width:70px;
    height:70px;
    background:url("../img/infobook_qrcode.png") left -130px;
    float:left;
    margin-right:5px;
}
#footer .foot{
    float:left;

}
#footer .foot h3{
    margin-left:30px;
}
#footer #list ul{
    width:190px;
    border-right:1px solid #eee;
    height:184px;
    float:left;
    margin:80px 0 0 10px;
    padding-left:30px;
}
#footer #list ul h3{
    height:30px;
}
#footer #list ul li{
    height:20px;
}
#footer .copy{
    width:640px;
    margin:50px auto 0;
}
#footer .copy a{
    display:inline-block;
    width:123px;
    height:45px;
    background:url("../img/certi20150925.png");
}
.clear{
    clear:both;
}
#footer .copy img{
    width:123px;
    height:45px;
}
#footer .copy p{
    text-align:center;
    margin:10px auto;
}
