
#body{
    width:1200px;
    height:3626px;
    margin:0 auto;
    font-size:10px;
}
#banner{
    width:1200px;
    height:478px;
    position:relative;
}
#banner #sliderBar{
    width:176px;
    height:468px;
    border:2px solid #f60;
    border-top:none;
    float:left;
    position:absolute;
    left:0;
}

#banner #sliderBar dl{
    width:176px;
    height:73px;
    border-bottom:1px solid #e5e5e5;
}
#banner #sliderBar dl:hover{
    box-shadow:0 2px 3px #333;
}
#banner #sliderBar dl .colf60{
    color:#f60;
}
#banner #sliderBar .links{
    position:relative;
    width:140px;
    height:60px;
    padding:10px 15px 0 20px;
    color:#333;
    background:url("../img/sprite.png") no-repeat 145px -1539px;
}
#banner #sliderBar .banner_ico{
    position:absolute;
    left:4px;
    top:13px;
    width:14px;
    height:13px;
    background:url("../img/banner_sprit.png") no-repeat;
}
#banner #sliderBar h4{

    margin:0 0 2px 2px;
    height:22px;
    font-size:14px;
}
#banner #sliderBar .ban_links a{
    padding:0 0 0 2px;
}
#banner #sliderBar dl dd{
    width:821px;
    height:468px;
    position:absolute;
    top:0;
    left:145px;
    background:#fff;
    box-shadow:0 2px 2px #333;
    display:none;
    z-index:1800;
}

#banner #sliderBar dl dd table{
    border-collapse: collapse;
    border-spacing:0;
    width:540px;
    float:left;
    margin:7px 0 0 20px;
}
#banner #sliderBar dl dd th{
    font-weight:bold;
    width:62px;
    height:64px;
    vertical-align:top;
    padding-top:3px;
    font-size:14px;
}
#banner #sliderBar dl dd b{
    margin:0 4px;
}
#banner #sliderBar dl dd td{
    width:462px;
    line-height:26px;
    color:#484848;
    vertical-align:top;

}
#banner #sliderBar dl dd .right{
    width:200px;
    height:350px;
}
#banner #sliderBar dl dd .right img{
    width:200px;
    height:200px;
}
img{
    display:block;
}
#body{
    position:relative;
}

#bannerImg{
    position:absolute;
    top:10px;
    left:190px;

}
#bannerImg li{
   position:absolute;
    top:0px;
    left:0px;
}
#bannerImg ul{
    width:770px;
    height:245px;
    position:relative;
    z-index:500;

}
#bannerImg .spNav {
    width:276px;
    height:26px;
    line-height:26px;
    position:absolute;
    right:8px;
    bottom:9px;
    z-index:501;
    text-align:center;
}
#bannerImg .spNav span{
    display:inline-block;
    z-index:700;
    width:30px;
    height:30px;
    border-radius:50%;
    cursor:pointer;
    background:url("../img/spnav.png") no-repeat -32px 0;
}
#bannerImg .spNav .active{
    background:url("../img/spnav.png") no-repeat 2px 0;
}
#rightBar{
    width:226px;
    height:245px;
    position:absolute;
    right:0;
    top:10px;
    overflow:hidden;
}
#rightBar li img{
    width:226px;
    height:245px;
}
#rightBar ul,#body #meau .right ul{
    position:absolute;
    top:0;
    left:0;
}
#rightBar li ,#body #meau .right li{
    float:left;

}
#rightBar .spwrap ,#body #meau .right .spwrap{
    width:180px;
    height:10px;
    position:absolute;
    top:5px;
    left:0;
    padding-left:10px;
    cursor:pointer;
}
#rightBar span,#body #meau .right span{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#eee;
    display:inline-block;
    position:
}
#rightBar .r_active ,#body #meau .right .r_active{
    background:orange;
}
#banner #timeLimit{
    width:770px;
    height:203px;
    position:absolute;
    left:190px;
    bottom:9px;
}
#banner #timeLimit h2{
    width:748px;
    height:27px;
    padding-left:10px;
    font-size:16px;
    color:#bf1313;
    line-height:27px;
}
#banner #timeLimit a{
    position:absolute;
    top:3px;
    right:0;
    padding:1px 12px 0 10px;
    background:url("../img/arrow.png") 87px 5px; /*向下5px*/
}
#banner #timeLimit a:hover{
    text-decoration:underline;

}
#banner #timeLimit .timeLeft{
    width:192px;
    height:28px;
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-90px;
    line-height:28px;
    font-size:16px;
    font-weight:bold;
    color:#666;
    overflow:hidden;

}
#banner #timeLimit .timeLeft p{
    height: 28px;
    line-height:28px;
    float:left;
    margin-right:8px;
}
#banner #timeLimit .timeLeft b{
    float:left;
}
#banner #timeLimit .timeLeft span{
    float:left;
    width: 28px;
    height: 28px;
    line-height:28px;
    background: #EFEFEF;
    border-radius: 2px;
    margin:0 3px;
    text-align:center;
}
#banner .rightImg{
    position:absolute;
    right:0;
    bottom:9px;
    width:230px;
    height:203px;
}
#banner .rightImg img{
    width:230px;
    height:203px;
}
#banner .proSlide{
    width:758px;
    height:170px;
    position:absolute;
    bottom:0;
    left:0;
    padding-left:12px;
    overflow:hidden;
}
#banner .proSlide #ulPro{
    position:absolute;
    top:0;
    left:0;
 }
#banner .proSlide div{
    width:193px;
    height:173px;
    text-align:left;
    float:left;
}
#banner .proSlide img{
    margin:0 auto;
    cursor:pointer;
}
#banner .proSlide p{
    width:154px;
    margin:0 auto;
    height:36px;
    font-size:10px;
}
#banner .proSlide .Price{
    width:154px;
    height:21px;
}
#banner .proSlide .marTop{
    margin-top:3px;
}
#banner .proSlide .Price em{
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    color:#f60;
}
#banner .proSlide #ulPro  a{
    position:static;
    word-break: break-all;
    background:none;
    padding:0;
    font-size:10px;
}
#banner #timeLimit .prev ,#banner #timeLimit .next{
    display:block;
    width:9px;
    height:17px;
    text-align:center;
    position:absolute;
    top:92px;
    z-index:300;
    cursor:pointer;
}
#banner #timeLimit  .prev{
    background:url("../img/abtn130426.png") no-repeat 0 0 ;
    left:0;
}
#banner #timeLimit  .next{
    background:url("../img/abtn130426.png") no-repeat -8px 0 ;
    right:0;
}
#body #cont{
    width:1200px;
    height:290px;
    margin:0 auto;
    position:relative;
}
#body #cont .cont_left{
    width:960px;
    height:288px;
    position:relative;

}
#body #cont .cont_left .tabc{
    height:239px;
    border:1px solid #dadada;
}
#body #cont .cont_left .tabc div{
    position:relative;
}
#body #cont .cont_left h2{
    height:38px;
    border-bottom:3px solid #ff6600;
    padding-top:7px;
    color:#ff6600;
    padding-left:10px;
    line-height:36px;
    font-family: "microsoft yahei";
}
#body #cont .cont_left .hot_title{
    width:880px;
    height:18px;
    position:absolute;
    top:16px;
    left:80px;
}
#body #cont .cont_left .hot_title a{
    padding-left:16px;
    background:url("../img/hot_flash.png") no-repeat left top;
    float:left;
    cursor:pointer;
}
#body #cont .cont_left .hot_title span{
    float:right;
}
#body #cont .cont_left ul li div{
    width:209px;
    height:200px;
    position:relative;
    padding:15px;
    float:left;
}
#body #cont .cont_left ul li div p{
    margin:0 auto;
}
#body #cont .cont_left ul li div p a{
    color:#666;

    word-break: break-all;
}
#body #cont .cont_left ul li div img {
    margin: 0 auto;
}
#body #cont .cont_left ul li div .hot_text{
    width:186px;
    height:36px;
    margin-top:2px;
}
#body #cont .cont_left ul li div .qwj{
    position:absolute;
    top:14px;
    right:8px;
}
#body #cont .cont_left ul li div span{
    margin:8px 16px 0 10px;
   color:#ff6600;
}
#body #cont .cont_left ul li div .shop{
    height:25px;
    line-height:24px;
    padding:0 10px;
    background:#f7661f;
    border:1px solid #f7661f;
    border-radius:2px;
    color:#fff;
}
#body #cont .cont_left ul li div .shop:hover{
    background:#ff971c;
    border:1px solid #ff971c;
    border-radius:2px;
    text-decoration:none;
}
#body #cont .cont_right{
    width:230px;
    height:284px;

    position:absolute;
    right:0;
    top:5px;
 }

#body #cont .cont_right .cont_top{
     width:228px;
     height:98px;
     padding:10px 0;
     border:1px solid #eee;
 }
#body #cont .cont_right .cont_top .dtop{
    width:218px;
    height:30px;
    border-bottom:1px dashed #eee;
    padding:0 5px;
    line-height:26px;
    font-size:16px;
    margin-bottom:5px;
}
#body #cont .cont_right .cont_top dt{
    padding-left:10px;
    height:17px;
}
#body #cont .cont_right .cont_phone{
    width:228px;
    height:138px;
    border:1px solid #eee;
    margin-top:23px;
}
#body #cont .cont_right .cont_phone .pay span{
    float:left;
}
#body #cont .cont_right .cont_phone select{
    float:left;
    margin-left:15px;
}
#body #cont .cont_right .cont_phone p{
    width:228px;
    height:25px;
    margin-top:5px;
}
#body #cont .cont_right .cont_phone p a{
    margin-left:36px;
    height:18px;
    width:60px;
    background:#ff6600;
    text-align:center;
    display:block;

}
/*好评热卖---------------------------------------*/
#body #contain_hot{
    width:1200px;
    margin:0 auto;
    height:325px;
}
#body #contain_hot h2{
    height:48px;
    padding-top:7px;
    border-bottom:3px solid #ff6600;
    line-height:48px;

}
#body #contain_hot .goods{
    width:1198px;
    height:275px;
    border:1px solid #dadada;
    position:relative;
    border-top:none;
}
#body #contain_hot .goods li{
    position:relative;
    width:173px;
    height:245px;
    padding-top:30px;
    float:left;
    overflow:hidden;
    z-index:10;
    background:#fff;
    border-right:1px solid #dadada;
    transition: all .3s;
}
#body #contain_hot .goods li a{
    float:left;
    width:250px;
    height:240px;
    margin:0 30px;
}
#body #contain_hot .goods li div{
    float:right;
    width:338px;
    height:209px;
    position:absolute;
    left:338px;
}
#body #contain_hot .goods li div p span{
    float:left;
    font-size:14px;
    color:#ff6600;
}
#body #contain_hot .goods li div p .a1{
    display:inline;
    width:248px;
    height:20px;
    margin:0  0  0 7px;
    font-size:12px;
    color:#666;
    word-break: break-all;
}
#body #contain_hot .goods li div .good_des{
    margin-top:30px;
}
#body #contain_hot .goods .goodsc1{
    left:0;
    height:245px;
    width:675px;
}
#body #contain_hot  .goods .goodsc4{
    position:absolute;
    right:0;
}
/*好卖热品下部分*/
#body #meau{
    width:1198px;
    height:268px;
    margin:28px auto 0;
    border:1px solid #d9d9d9;
}
#body #meau .left{
    width:960px;
    height:270px;
    position:relative;
}
#body #meau .left .tab{
    height:30px;
    line-height:30px;
}
#body #meau .left .tab a{
    width:239px;
    border:1px solid  #d9d9d9;
    border-left:none;
    border-top:none;
    float:left;
    text-align:center;
    line-height:28px;
    height:28px;
}
#body #meau .left .tab a:hover{
    color:#ff6600;
    text-decoration:none;

}
#body #meau .left ul li{
    float:left;
    width:146px;
    height:183px;
    padding:0 19px;

}
#body #meau .left ul li img{
    margin-top:5px;
}
#body #meau .left ul li p{
    width:150px;
    margin: 5px 0 0 0 ;
}
#body #meau .left ul li span{
    margin-top:20px;
    color:#ff6600;
    display:block;
}
#body #meau .left .tab .tab_active{
    background:#fff;
    border-bottom:none;
}
#body #meau .left  .tab_div{
    padding:30px 10px 0;
    width:938px;
    height:208px;
    position:absolute;
    top:28px;
    left:0;
    display:none;
    transition: all 1s ease 0s;
}
#body #meau .left  .tab_div img:hover{
    width:152px;
    height:115px;
    vertical-align: middle;
}
#body #meau .left  .tab_div a:hover{
    box-shadow:1px 1px 1px 2px #eee;
    background:rgba(255,255,255,.7);
}
#body #meau .left  .tab_div li a{
    width:155px;
    height:120px;
    border-radius:3px;
    border:1px solid #eee;
    display:inline-block;
}
#body #meau .left .Block{
    display:block;
    z-index:100;
}
#body #meau .right{
    width:238px;
    height:268px;
    float:right;
    position:relative;
    overflow:hidden;
}
#body #mb20{
    width:1200px;
    height:2100px;
    margin:20px auto 0 ;

}
#body #mb20 .left{
    width:960px;
    height:2100px;
    float:left;
}
#body #mb20 .left h2{
    height: 38px;
    padding-left: 10px;
    color: #2565bd;
    font-size: 20px;
    border-right: none;
    line-height: 36px;
    line-height: 38px\9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 3px solid #2565bd;
    font-family: "microsoft yahei";
}
#body #mb20 .left .proWrap{
    width:938px;
    height:460px;
    border:1px solid #e6e6e6;
    border-top:none;
    padding: 0 10px;
    position:relative;
    margin-bottom:20px;
}
#body #mb20 .left .proWrap .proBot{
    width:955px;
    height:38px;
    border-top:1px solid #dadada;
    float:left;
    position:absolute;
    left:0;
    bottom:0;
    padding: 6px 0 7px 3px;
}
#body #mb20 .left .proWrap .proBot a{
    width:119px;
    height:40px;
    line-height:40px;
    display:block;
    overflow:hidden;
    float:left;
}
#body #mb20 .left .proWrap .proBot a img{
    margin:0 auto;
    width:100px;
    height:80px;
}
#body #mb20 .left .proWrap .proBot a:hover img{
    margin-top:-40px;
}
#body #mb20 .left .pro{
    height: 179px;
    padding: 25px 12px 1px 19px;
    width: 191px;
    float: left;
    position:relative;
}
#body #mb20 .left .pro img{
    margin:0 auto;

}
#body #mb20 .left .pro span{
    color: #f60;
    font-family: arial;
    font-weight: bold;
}
#body #mb20 .left .pro p{
    padding:5px 0;
    width:190px;
    word-break: break-all;
}
#body #mb20 .left .proBot{

}
#body #mb20 .left .center{
    height:205px;
    width:480px;
    float:left;
    position:relative;
    overflow:hidden;
}
#body #mb20 .left .center ul{
    position:absolute;
}
#body #mb20 .left .center li{
    float:left;
}
#body #mb20 .left .center .spwrap{
    position:absolute;
    width:180px;
    height:16px;
    right:5px;
    bottom:5px;
    line-height:16px;
}
#body #mb20 .left .center .spwrap span{
    display:inline-block;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#ccc;
    margin:0 5px;
    text-align:center;
    cursor:pointer;

}
#body #mb20 .left .center .spwrap .s_active{
    background:orange;
}
#body #mb20 .right{
    width:230px;
    height:2100px;
    float:right;
}
#body #mb20 .right .hotRank{
    width:230px;
    height:501px;
    border:1px solid #e6e6e6;
    position:relative;
    margin-bottom:20px;
}
#body #mb20 .right .hotRank .tab{
    width:230px;
    margin-top:2px;
    height:27px;
    line-height:27px;
    border-bottom:1px solid #dbdbdb;
}
#body #mb20 .right .hotRank .botImg img{
    position:absolute;
    bottom:0;
    left:0;

}
#body #mb20 .right .hotRank .show{
    display:block;
}
#body #mb20 .right .hotRank ul{
    position:absolute;
    top:28px;
    left:0;
    display:none;
}
#body #mb20 .right .hotRank .tab span{
    padding:0 8px;
    float:left;
    border-bottom:1px solid #e9e9e9;
    text-align:center;
}
#body #mb20 .right .hotRank .tab a{
    display:inline-block;
    width:56px;
    height:26px;
    text-align:center;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    float:left;
    margin-right:1px;

}
#body #mb20 .right .hotRank .tab a:hover{
    text-decoration: none;
    background:#fff;
    border-bottom-color: #fff;
}
#body #mb20 .right .hotRank ul li{
    width:206px;
    height:66px;
   padding:16px 12px 10px 10px;
    border-bottom:1px solid #e6e6e6;
}
#body #mb20 .right .hotRank ul li p{
    width:80px;
    height:60px;
    float:left;
    margin-right:8px;
}
#body #mb20 .right .hotRank ul li img{
    width:80px;
    height:60px;
}
#body #mb20 .right .hotRank ul li div{
    width:116px;
    height:87px;
    float:left;
}
#body #mb20 .right .hotRank ul li div span{
    display:block;
    color:#ff6600;
}
#navBar{
    position:fixed;
    top:260px;
    left:1px;
    height:400px;
    width:26px;
    border:1px solid #eee;
    z-index:500;
    display:none;
    border-radius:3px;
}
#navBar p{
    width:25px;
    height:50px;
    background:#7a6e6e;
    color:#fff;
    line-height:50px;
    margin-bottom:3px;
   cursor:pointer;
    text-align:center;
    opacity:.8;
    border-radius:3px;
}
#navTopBar{
    width:25px;
    background:#7a6e6e;
    color:#fff;
    margin-bottom:3px;
    cursor:pointer;
    text-align:center;
    opacity:.8;
    word-break: break-all;
    padding-top:5px;
    height:45px;
    line-height:20px;
    position:fixed;
    bottom:5px;
    right:0;
    border-radius:3px;
}
#shopBar{
    width:35px;
    color:#fff;
    margin-bottom:3px;
    cursor:pointer;
    text-align:center;
    word-break: break-all;
    padding-top:5px;
    height:245px;
    line-height:20px;
    position:fixed;
    top:260px;
    right:0;
    border-radius:3px;
    z-index:1000;

}
#shopBar p{
    width:35px;
    height:35px;
    background:#7a6e6e;
    margin-bottom:1px;
    border-radius:3px;
    position:relative;
    z-index:500;
}
#shopBar .p1:hover{
    background:#f60 url("../pic/toolbars.png") no-repeat -88px -175px;
}
#shopBar .p2:hover{
    background:#f60 url("../pic/toolbars.png") no-repeat -50px -0px;
}
#shopBar .p3:hover{
    background:#f60 url("../pic/toolbars.png") no-repeat -50px -50px;
}
#shopBar .p4:hover{
    background:#f60 url("../pic/toolbars.png") no-repeat -190px -150px;
}
#shopBar .p5:hover{
    background:#f60 url("../pic/toolbars.png") no-repeat -50px -100px;
}
#shopBar .p1{
    background:#7a6e6e url("../pic/toolbars.png") no-repeat -88px -175px;
}
#shopBar .p2{
    background:#7a6e6e url("../pic/toolbars.png") no-repeat -50px 0px;
}
#shopBar .p3{
    background:#7a6e6e url("../pic/toolbars.png") no-repeat -50px -50px;
}
#shopBar .p4{
    background:#7a6e6e url("../pic/toolbars.png") no-repeat -190px -150px;
}
#shopBar .p5{
    background:#7a6e6e url("../pic/toolbars.png") no-repeat -50px -100px;
}
#shopBar .move{
    width:100px;
    height:35px;
    background:#f60;
    position:fixed;
    top:0;
    left:0;
    z-index:300;
    border-radius:3px 0 3px 0 ;
    text-align:center;
    line-height:35px;
    display:none;
}
#imgList{
    width:1200px;
    margin:35px auto 0;
    height:82px;
}
#imgList img{
    float:left;
    margin-right:11px;

}
