#itemList{
    width:980px;
    margin:0 auto;

}
#itemList .banner{
    width:980px;
    height:188px;
    background:url("../pic/itemlist.jpg");
    margin-top:3px;
}
#itemList #item_cont{
    margin-top:20px;
    width:980px;
    height:auto;
}
#itemList #item_cont .proList dl{
    position:absolute;
    background:#333;
    opacity:.8;
}
#itemList #item_cont .proList .top{
    top:0;
    left:0;
}
#itemList #item_cont .proList .left{
    top:0;
    height:0;
    left:0;
}
#itemList #item_cont .proList .right{
    right:0;
    top:0;
    height:0;
}
#itemList #item_cont .proList .bottom{
    bottom:0;
    right:0;
}
#itemList #item_cont .proList{
    position:relative;
    text-align:center;
    width:242px;
    height:322px;
    background:#fff;
    box-shadow:0px 0px 3px 3px #ccc;
    float:left;
    margin-right:3px;
    transition: all 1s;
    margin-bottom:20px;
}
/*#itemList #item_cont .proList:hover img{
    width:185px;
    height:140px;
}*/
#itemList #item_cont .proList img{

    margin:0 auto 20px;
}
#itemList #item_cont .proList .pay{
    width:220px;
    height:30px;
    text-align:left;
    line-height:30px;
    margin:20px 0;
    padding-left:15px;
}
#itemList #item_cont .proList .pay strong{
    color:#f60;
    font-size:16px;
    margin-left:5px;
}
#itemList #item_cont .proList .payNow{
    width:100px;
    height:30px;
    background:#f60;
    line-height:30px;
    text-align:center;
    margin:10px auto;
    border-radius:5px;
}
#itemList #item_cont .proList .payNow:hover{
    background:orange;
    color:#fff;

}
#itemList #item_cont .proList .payNow:hover a{
    text-decoration:none;
}
#footer{
    margin-top:100px;
}