#loginWrap{
    width:1200px;
    height:400px;
    padding:44px 0;
    margin: 0 auto;
    background: rgb(227, 227, 227);
}
#loginWrap #login{
    width:990px;
    height:357px;
    margin:0 auto;
}
#loginWrap .left{
  float:left;
}
#loginWrap .right{
    width:362px;
    height:377px;
    float:right;
    padding:20px 10px 0 10px;
    background:#fff;
}
#loginWrap #login form{
    margin:0;
    padding:0;
}
#loginWrap #login .login_p{
    height:21px;
    margin:0 auto 23px;
    width:305px;
    display:block;

}
#loginWrap #login .login_p h2{
    float:left;

}
#loginWrap #login .login_p a{
    float:right;
}
#loginWrap #login ul{
    width:305px;
    height:114px;
    margin: 0 auto;
    padding-left:5px;
}
#loginWrap #login ul span{
    width:29px;
    height:33px;
    display:inline-block;
    background:#eee url("../pic/login_icon.png") no-repeat -1px 0;
    float:left;
    margin-top:1px;
}
#loginWrap #login ul li{
    float:left;
    width:305px;
    height:57px;
}
#loginWrap #login ul li .pas{
    background:#eee url("../pic/login_icon.png") no-repeat -1px -59px;

}
#loginWrap #login ul li input{
    font-size:12px;
    text-indent:5px;
    color:#b7b7b7;
    float:left;
    height:31px;
    width:252px;
    line-height:31px;
    border:1px solid #cfcfcf;
    outline: none;
}
#loginWrap #login p{
    width:290px;
    height:16px;
    margin:0 auto;
}
#loginWrap #login p span{
    float:left;

}
#loginWrap #login a{
    float:right;
    margin-right:5px;
}
#loginWrap #login strong{
    width:300px;
    height:30px;
    display:block;
    margin:10px auto 0;
}
#loginWrap #login #loginBtn{
    width:300px;
    height:30px;
    background-color: #ff971c;
    border: 1px solid #ff971c;
    color:#fff;
    text-align:center;
    border-radius:3px;
    outline:none;
    cursor:pointer;
}
#loginWrap #login #loginBtn:hover{
    background:#f60;
}
#loginWrap #login .login_bot{
    width:305px;
    height:125px;
    margin:20px auto 0;
    background:#333 url("../pic/login.png");
}
