#top #topMain .right .sp_welcome{
   width:96px;
   margin-left:18px;
}
#top #topMain{
    width:980px;
    margin:0 auto;
}
#top #topMain .right{
    width:257px;
}
#top #topMain .right .aside{
    width:140px;
}
#top #topMain .join{
    width:75px;
    background: url("../img/topbar.png") no-repeat 0 -85px;
}
#top #topMain .join:hover{
    background: url("../img/topbar.png") no-repeat 0 -105px;

}
#reg_header{
    width:980px;
    height:70px;
    padding-top:20px;
    margin:0 auto;
}
#reg_header a{
    float:left;
    width:320px;
    height:65px;
    background:url("../img/banner.png") center;
}
#reg_header #newUser{
    float:left;
    border-left:1px solid #d9d9d9;
    font:24px/49px microsoft yahei;
    margin:5px 0 0 25px;
    padding-left:26px;
}
#regBox{
    width:100%;
    height:520px;
    background:#f9f9f9;
}
#regBox .fix{
    width:980px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    color:#666;
    font-size:14px;
}
#regBox .fix .fir{
    float:right;
}
#regBox .fix .fir a{
    color:orange;
}
#regBox .step1{
    width:665px;
    height:30px;
    margin:20px auto;
    background:url("../img/register.png") no-repeat;
}
#regBox .reg_phone{
    width:960px;
    height:218px;
    margin:0 auto;
}
#regBox .reg_con{
    height:148px;
    margin-top:40px;
}
#regBox .reg_con .reg_box{
    width:960px;
    height:32px;
    text-align:center;
    margin-bottom:25px;
}
#regBox .reg_con .reg_box lable{
    width:68px;
    display:inline-block;
    text-align:right;
}
#regBox .reg_con .reg_box  input{
    background:#f9f9f9;
    overflow:hidden;
    text-indent:5px;
    outline:none;
    width:255px;
    height:30px;
    line-height:30px;
    border:1px solid #cfcfcf;
    margin-left:5px;
}
#regBox .reg_con .reg_box #testCode{
    width:132px;
}
#regBox .reg_con .reg_box .cod{
    text-align:left;
}
#regBox .reg_con .reg_box .code{
    width:115px;
    height:30px;
    line-height:30px;
    display:inline-block;
    border:1px solid #cfcfcf;
    cursor:pointer;

}
#regBox .reg_con .reg_box .code_btn{
    width:260px;
    height:32px;
    line-height:32px;
    border:1px solid #868686;
    background:#e1e1e1;
    display:inline-block;
    cursor:pointer;
    margin-left:76px;

}
#regBox .reg_con .reg_none{
    display:none;
}
#regBox .reg_con .reg_box #phoneCode{
    width:134px;
}
#regBox .reg_con .reg_box .pho_code{
    text-align:center;
}
