body{
    height:100%;
}
#item{
    width:100%;
    height:36px;
    padding-top:28px;
    background:#f0f0f0;
    float:left;
}
#tabHead{
    width:1200px;
    margin:0 auto;
}
#tabHead .active{
    float:left;
    height: 33px;
    background: #fff;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    line-height:36px;
    border-top: 3px solid #f87500;
}
#tabHead li{
    float:left;
    height: 33px;
    background: #f0f0f0;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    padding: 0 23px;
    line-height:36px;
    border-top: 3px solid #f0f0f0;
}
#cont_item{
    width:1200px;
    height:570px;
    padding-top:20px;
    margin:0 auto;
}
#cont_item .left{
    width:490px;
    height:570px;
    float:left;
}
#cont_item .left .proitems{
    width:450px;
    height:338px;
    overflow:hidden;
    position:relative;

}
#cont_item .left .proitems .items_Block{
    display:block;
    z-index:20;
}
#cont_item .left .proitems ul li{
    position:absolute;
    top:0;
    left:0;
    display:none;
}
#cont_item .left .proList{
    width:450px;
    height:537px;
    padding-top:20px;
    position:relative;
}

#cont_item .left ul li{
    float:left;
}
#cont_item .left ul li img{
    width:450px;
    height:338px;
}
#cont_item .left #proNav{
    position:relative;
    width:420px;
    height:75px;
    margin-top:60px;
    overflow:hidden;
    padding-left:30px;

}
#cont_item .left #proNav ul{
    position:absolute;
    width:400px;
    height:73px;
    margin:0 auto;
}
#cont_item .left .proNav{
    width:16px;
    height:53px;
    line-height:53px;
    position:absolute;
    cursor:pointer;
}
#cont_item .left .proNav ul{
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    z-index:800;
}
#proNav .prev{
    left:0;
    top:15px;
    z-index:10;
    background:url("../img/pro_b_6.png") no-repeat 0 -150px;
    width:16px;
    height:50px;
   display: block;
    position:absolute;
}
#proNav .next{
    top:15px;
    right:0;
    z-index:10;
    background:url("../img/pro_b_6.png") no-repeat -19px -150px;
    width:16px;
    height:50px;
    display:block;
    position:absolute;
}
#cont_item .left #proNav li{
    width:450px;
    height:73px;
}
#cont_item .left #proNav li .spMar{
    margin-left:33px;
}
#cont_item .left #proNav li span{
    display:inline-block;
    width:80px;
    height:67px;
    margin:0 5px;
    float:left;
    border:2px solid #fff;
}
/*#cont_item .left #proNav li span:hover{
    border:2px solid #f60;
}*/
#cont_item .left #proNav li span img{
    width:73px;
    height:61px;
}

#cont_item  .right{
    float:right;
    width:710px;
    height:540px;
    background:#fff;
}
#zoom{
 padding-top:50px;
    display:block;
}
#zoom li{
    width:1263px;
    height:800px;
    float:left;
}
#zoom li img{
    margin:0 0 0 300px;
    width:600px;
    height:600px;
}
.sp_bg{
    width:50px;
    height:50px;
    background:#fff;
    position:fixed;
    top:5px;
    left:10px;
    font-size:30px;
    z-index:600;
    color:#f60;
    line-height:50px;
    border-radius:50%;
    text-align:center;
    display:none;
}

.aprev{
    position:fixed;
    top:300px;
    left:20px;
    margin-top:-25px;
    z-index:600;
    width:20px;
    height:50px;
    background:#fff;
    line-height:50px;
    font-size:30px;
    display:none;
}
.aprev:hover{
    text-decoration: none;
    color:#f60;
}
.anext:hover{
    text-decoration: none;
    color:#f60;
}
.anext{
    position:fixed;
    top:300px;
    right:20px;
    margin-top:-25px;
    z-index:1600;
    width:20px;
    height:50px;
    line-height:50px;
    font-size:30px;
    background:#fff;
    display:none;
    text-decoration: none;
}
#cont_item .right li{
    height:50px;
}
#cont_item .right input{
    width:60px;
    text-align:center;
}
#cont_item .right .minus{
    width:50px;
    height:20px;
    border:1px solid #eee;
    display:inline-block;
    text-align:center;
}
#cont_item .right .plus{
    width:50px;
    height:20px;
    border:1px solid #eee;
    display:inline-block;
    text-align:center;
}
#cont_item .right a:hover{
    text-decoration: none;
    color:#fff;
}
#cont_item .right .shop{
    width:100px;
    height:35px;
    background:#f60;
    display:inline-block;
    border-radius:3px;
    text-align:center;
    line-height:35px;
    margin-left:60px;

}
#cont_item .right .pay{
    width:100px;
    height:35px;
    background:#f60;
    display:inline-block;
    border-radius:3px;
    text-align:center;
    line-height:35px;
}











