#header {
    width: 100%;
    height: 86px;
    padding-top: 20px;
    padding-bottom: 30px;
    position:relative;
}

#headerTop {
    width: 980px;
    height: 86px;
    margin: 0 auto;
    position: relative;
}

#headerTop .left {
    position: absolute;
    width: 318px;
    height: 65px;
    left:4px;
    top:11px;
}
#headerTop .right {
    width:435px;
    height:54px;
    margin-top:11px;
}
#headerTop .right .spWrap{
    height:22px;
    display:inline-block;
}
#headerTop .right .spWrap a{
    color:#666;
}
#headerTop .right .spWrap a:hover{
    text-decoration: underline;
}
#headerTop .right .spWrap .mar_L{
    margin-left:10px;
}
#headerTop .right b {
    margin:0 8px;
    display:inline-block;
}
#headerTop .right img{
    position:absolute;
    top:11px;
    right:0;

}
#headerTop .right div{
    width:435px;
    height:22px;
    word-break: break-all;
    text-align:right;
    margin-top:10px;
}
#headerTop .right div a{
    color:#10286C;
    margin-left:5px;
}
#header #shop_cont {
    width: 711px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 122px;
    margin-left: -350px;

}
#header #shop_cont div{
    width:237px;
    height:54px;

    float:left;
}
#header #shop_cont span{
    display: block;

    height: 19px;
    width: 28px;
    margin: 5px auto 12px auto;
    background:url("../img/sc_mark.jpg") no-repeat ;
}
#header #shop_cont p{
    width:237px;
    height:18px;
    text-align:center;
}
#shop_wrap{
    height:100%;
    border-top:1px solid #eee;
}
#shop_contain{
    width:980px;
    height:auto;
    padding-top:65px;
    margin:0 auto;
    min-height:300px;
}
#shop_contain .content{
    width:958px;
    margin:0 10px;
    border:1px solid #eee;
    height:218px;
    position:relative;
}
#shop_contain .content .bg_shdow{
    background:url("../img/bg_shadow.jpg");
    position:absolute;
    bottom:-5px;
    left:-1px;
    height:5px;
    width:960px;
    z-index:10;
}
#shop_contain .content .tab1{
    border-collapse:collapse;
    border-spacing:0;
    width:960px;
    height:220px;
}
#shop_contain .content .tab1 th{
   height:32px;
}
#shop_contain .content .tab1 .tb1_th1{
    width:782px;
    border-bottom:1px solid #bbb;
}
#shop_contain .content .tab1 .tb1_th2{
    width:176px;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
}
#shop_contain .content .tab1 .td1{
    width:782px;
    height:185px;
}
#shop_contain .content .tab1 .td1 table{
    width:100%;
    height:132px;
    border-collapse: collapse;
    border-spacing: 0;
}
#shop_contain .content .tab1 .td1 table .tr1{
    height:32px;
    width:100%;

}
#shop_contain .content .tab1 .td1 table .tr1 td{
    text-align:center;
}
#shop_contain .content .tab1 .td1 table .tr2{
    width:100%;
    height:140px;
}
#shop_contain .content .tab1 .td1 table .tr2 td{
    height:120px;
    padding-top:20px;
}
#shop_contain .content .tab1 .td1 table .tr2 .im{
    width:80px;
    height:100px;
    float:left;
}
#shop_contain .content .tab1 .td1 table .tr2 p{
    float:left;
    width:275px;
    height:120px;
    text-align:left;
}
#shop_contain .content .tab1 .td1 table .tr2 .count{
    width:70px;
    height:24px;
}
#shop_contain .content .tab1 .td1 table .tr2 input{
    height: 24px;
    width: 36px;
    line-height: 24px;
    border: 1px solid #bbb;
    text-align: center;
    float:left;
}
#shop_contain .content .tab1 .td1 table .tr2 .del a{
    display:block;
    color:#10286C;

}
#shop_contain .content .tab1 .td1 table .tr2 b{
    width:14px;
    height:22px;
}
#shop_contain .content .tab1 .td1 table .tr2 span{
    width: 20px;
    height: 11px;
    display: block;
    line-height: 9px;
    font-size: 9px;
    text-align: center;
    margin-left: 1px;
    margin-top:1px;
    cursor: pointer;
    float:right;
    border:1px solid #333;
}
#shop_contain .content .tab1 .td2{
    width:136px;
    height:145px;
    border-left:1px solid #333;

}
#shop_contain .content .tab1 .td2 .toatal{
    padding:15px 0;
}
#shop_contain .content .tab1 .td2 p{
    width:100%;
    height:50px;
    line-height:50px;
}
#shop_contain .content .tab1 .td2 .pay{
    width:139px;
    height:48px;
    margin-left:10px;
    background:#ff6600;
    padding: 0 8px;
}
#shop_contain .content .tab1 .td2 .pay a{
    color:#fff;
    font-size:18px;
}
#shop_contain .content .tab1 .td2 p a{
    color:#10286C;
}
#shop_contain .content .tab1 .td2 p span{
    float:left;
    margin-left:30px;
}
#shop_contain .content .tab1 .td2 p strong{
    float:right;
    margin-right:38px;
}

#shop_contain .content .tab1 tr{
    width:960px;
    text-align:center;
}
#shop_contain .content .tab1 tr span{
    margin-left:10px;
}
#shop_contain .content p {
    float:right;
    width:200px;
}
#shop_contain .content img{
    width:80px;
    height:80px;
}
